.input-search {
    margin-left: 10px;
    color: white;
}

.input-search-button {
    margin-left: 130px;
}

.giphy {
    display: inline-block;
    width: 400px;
    height: 400px;
    float: right;
    margin-right: 80px;
    margin-top: 50px;
}

.giphy-container {
    width: 100%;
}

.divPlayer {
    float: right;
    display: inline-block;
    width: 50%;
    height: 473px;
}
