@import 'https://fonts.googleapis.com/css?family=Roboto';

.body {
  background-size: cover;
  height: 100vh;
}

.divPlayer1 {
  width: 50vw;
}

.home-button {
    margin-left: 5vw;
    margin-top: 3vh;
}

.delete-button {
    margin-left: 30vw;
}

.reload-button {
    margin-left: 35vw;
}

.game-not-found {
    height: 100vh;
    background: url(./components/images/notfound.jpg);
}

.game-not-found-button {
    margin-top: 7vh;
    margin-left: 2vw;
}
