@import 'https://fonts.googleapis.com/css?family=Roboto';

.body {
  background-image: url('./components/images/background-image.png');
  background-size: cover;
  height: 100vh;
}

.divPlayer1 {
  width: 50vw;
}

.home-button {
    margin-left: 5vw;
    margin-top: 3vh;
}

.delete-button {
    margin-left: 30vw;
}

.loading-body {
    height: 100vh;
    background: url('./containers/Game/loading.jpg');
    background: no-repeat;
}

.reload-button {
    margin-left: 35vw;
}
