nav {
    height: 10vh;
    width: 100vw;
}

.stylePaper {
    display: inline-block;
    margin: 16px 32px 16px 0;
}

.vote1score {
    color: white;
    display: inline-block;
    margin-left: 50px;
}

.vote2score {
    color: white;
    float: right;
    display: inline-block;
    margin-right: 60px;
}

.button-get-votes {
    margin-left: 340px;
    width: 80px;
    height: 30px;
    display: inline-block;
    justify-content: center;
}

.insert-id {
    margin-left: 20px;
}
